{% extends "main/base.html" %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}main/css/spinning.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}main/css/footer.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}main/css/buttons.css"/>
<script type="text/javascript" src="{{STATIC_URL}}main/js/server.js"></script>
<style>
.form-group {
	color:#f4c446;
	max-width:70%;
	margin: 4% auto;
}
.form-submit {
	text-align:center;
	max-width:70%;
	margin: auto;
}
#signIn {
	position: absolute;
	width:100%;
    padding: 0;
	margin: 0 auto;
}
</style>
{% endblock %}

{% block content %}
<div class="wrap">
<div class="main">
<form id="signIn">
    <fieldset>
 	<div class="form-group">
  		<span id="loginMessages"></span>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Username</label>
      <input type="text" class="form-control" id="inputUsername" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Enter password">
    </div>
    <div class="form-submit">
      <button id="submitBtn" type="submit" class="btn-big">Sign In</button>
    </div>
  </fieldset>
</form>
</div>
</div>
<div id="logo">
    <div id="icon"><img src="{{STATIC_URL}}main/img/icon.png" align="center" /></div>
	<div id="spinning"><img src="{{STATIC_URL}}main/img/spinner.gif" align="center" /></div>
</div>
<div class="footer">
A product of xmobile.berkeley.edu
</div>
	<script type="text/javascript" src="{{STATIC_URL}}main/js/websql-store.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}main/js/initialize.js"></script>
{% endblock %}




