{% extends "main/base.html" %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main/css/spinning.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main/css/parking_map.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main/css/buttons.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}main/js/server.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}main/js/signout.js"></script>
{% endblock %}


{% block content %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="welcome-user" href="#"></a>
        </div>
        <!-- Place everything within .navbar-collapse to hide it until above 768px -->
        <div class="navbar-collapse collapse navbar-ex1-collapse">

            <div id="navbtns">
                {% csrf_token %}
                <div onclick="signOut();">
                    <form class="navbar-form navbar-right">
                        <button id="signOut" type="button" class="btn navbar-btn">
                            Sign out
                        </button>
                    </form>
                </div>

                <form id="parkingHistory" class="navbar-form navbar-right" action="/uhistory"
                      method="POST">{% csrf_token %}
                    <input type="hidden" id="username" name="username" value="">
                    <button type="submit" class="btn btn-inverse navbar-btn">Parking History</button>
                </form>

                <form id="editAccount" class="navbar-form navbar-right" action="/uedit">
                    <button type="button" onclick="location.href='/uedit';"
                            class="btn btn-inverse navbar-btn">
                        Edit Account
                    </button>
                </form>
            </div>

        </div>
    </nav>

<div class="wrap">
<div class="main">
  <div class="container">
    <div id="content-fav">
        <div id="favorite" class="well well-sm"><strong>Your favorite(s): </strong><span id="favorite-list"></span></div>
    </div>

    <div id="content-window">
    <div class="well well-sm">Tap an icon to select a garage</div>
    </div>

    <div class="row">
  	    <div id="map-canvas"></div>
        <div id="floatingBarsG">
            <div class="blockG" id="rotateG_01">
            </div>
            <div class="blockG" id="rotateG_02">
            </div>
            <div class="blockG" id="rotateG_03">
            </div>
            <div class="blockG" id="rotateG_04">
            </div>
            <div class="blockG" id="rotateG_05">
            </div>
            <div class="blockG" id="rotateG_06">
            </div>
            <div class="blockG" id="rotateG_07">
            </div>
            <div class="blockG" id="rotateG_08">
            </div>
        </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="confirming">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        Park at <strong id="conf-garage"></strong> for <strong id="conf-rate"></strong>.<br>
      </div>
      <div class="modal-footer">
        <div class = "btn-group">
            <form name="transaction" action="http://54.224.3.167:81/transaction.php" method="POST">
                <button type="button" class="btn btn-default" class="close" data-dismiss="modal">Cancel</button>
                <input type="hidden" id="user-trans" name="user" value="">
                <input type="hidden" id="token-trans" name="token" value="">
                <input type="hidden" id="amount" name="amount" value="">
                <button type="submit" id="confirmed" class="btn btn-primary">Go to Payment Gateway</button>
            <!--<button type="button" class="btn-darkblue" id="confirmed">Confirm</button> -->
            </form>
        </div>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>
</div>


<div class="footer">
A product of xmobile.berkeley.edu
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript" src="{{STATIC_URL}}main/js/messages.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}main/js/favorite.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}main/js/loadmap.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}main/js/confirmed.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}main/js/signout.js"></script>
<script>
var u = window.localStorage['username'];
var welcome_text = "VPP Parking App | ";
var $welcome_user = $("#welcome-user");

if (u && window.localStorage['isLoggedIn']){
    welcome_text += u;
    $("#username").val(u);
    $("#user-check").val(u);
    $welcome_user.text(welcome_text);
}else{
    signOut();
}
</script>
{% endblock %}
