<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css"/>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" src="{{STATIC_URL}}main/css/custom.css"/>
    {% block extrahead %}{% endblock %}
    <title>Parking System Interface</title>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
