{% extends "base.html" %}
{% block extrahead %}
<link type="text/css" rel="stylesheet"  href="{{STATIC_URL}}css/bootstrap-timepicker.min.css"/>
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-datepicker.css"/>
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-timepicker.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>
<style>
.margin-top{
margin-top:12px;
}
</style>
{% endblock %}
{% block content %}
    <div class="navbar">
    <div class="navbar-inner">
    <h1 style="float:left;"> Welcome to your profile, {{ parker.user.username }}!</h1>
    <input type="button" class="btn btn-inverse" style="float:right;margin-top:15px;" value="Log Out" onclick="window.location='../logout'"/>
    </div>
    </div>

    <div class="row-fluid margin-top">
    <div class="span6 offset3">
    <div class="navbar">
    <div class="navbar-inner">
    <div class="brand">Account Information</div>
    </div></div>
    <p>Your email is: {% if parker.user.email %}
    {{ parker.user.email }}
    {% else %} Not Published {% endif %}
    </p>
    </div>
    </div>


    <div class="row-fluid margin-top">
    <div class="span6 offset3">
    <div class="navbar">
    <div class="navbar-inner">
    <div class="brand">Your Parking Status</div></div></div>
    	{% ifequal parking_status.rate "REGULAR" %}	
	<p>{{parking_status.start}} - {{parking_status.end}} - {{parking_status.loc}}</p>
	<p><button class="btn btn-danger" type="buttons" onclick="checkout()" id="checkout">Check Out</button></p>
	{% else %}
	{% ifequal parking_status.rate "PREMIUM" %}
	<p>You are having premium reservation</p>
	<p>{{parking_status.start}} - {{parking_status.end}} - {{parking_status.loc}}</p>
	<p><button class="btn btn-danger" type="buttons" onclick="checkout()" id="checkout">Cancel</button></p>
	
	{% else %}
	<p>You're not currently parking. Please follow these steps to check in:</p>
        <div> 	<select id="garage">
		<option value="0">Please Select Garage...</option>
		<option value="Hearst">Hearst</option>
		<option value="RSF">RSF</option>
		</select>
		<input id="space" type="text" placeholder="Please Enter Space Number"/>
	</div>
	<div>How long do you want to park?<div class="input-append bootstrap-timepicker"><input id="timepicker1" type="text" class="input-small"><span class="add-on"><i class="icon-time"></i></span>
</div></div>

	<br/>
	<div><strong id="cost">Total Cost: $3</strong></div>
	<div><button class="btn btn-primary" type="buttons" onclick="checkin()" id="checkin">Check In</button></div>
        {% endifequal %}	
	{% endifequal %}
    </div></div>
    <br/>
    <div class="row-fluid margin-top">
    <div class="span6 offset3">
    <div class="navbar">
    <div class="navbar-inner">
    <div class="brand">Premium Reservation</div></div> </div>
	{%if prem_status.loc %}
	<p>You are having premium reservation</p>
	<p>{{prem_status.start}} - {{prem_status.end}} - {{prem_status.loc}}</p>
	<p><button class="btn btn-danger" type="buttons" onclick="premCheckout()" id="checkout">Cancel</button></p>	
    	{%else%}	
	<p>Please follow these steps to reserve a spot with an additional cost:</p>
	<div>When is the reservation?</div>
	<div class="row-fluid">
	<div class="input-append date span3" id="dp1" data-date="06-07-2013" data-date-format="mm-dd-yyyy">
    	<input class="span10 input-small" type="text" value="">
    	<span class="add-on"><i class="icon-th"></i></span>
    	</div>

 	<div class="input-append bootstrap-timepicker span3"><input id="timepicker2" type="text" class="input-small"><span class="add-on"><i class="icon-time"></i></span>
</div>
	</div>

        <div>How long do you want to park?<div class="input-append bootstrap-timepicker"><input id="timepicker3" type="text" class="input-small"><span class="add-on"><i class="icon-time"></i></span>
</div></div>

	<div> 	<select id="premium">
		<option value="0">Select A Premium Spot...</option>
		<option value="Hearst">Hearst #1</option>
		<option value="RSF">RSF #1</option>
		</select>
	</div>
	<br/>
	<div><strong id="costPremium">Total Cost: $0</strong></div>
	<div><button class="btn btn-primary" type="buttons" onclick="premCheckin()" id="checkin">Reserve</button></div>
    	
	{%endif%}
    </div>	
    </div>    
    <br/>
    <div class="row-fluid margin-top">
    <div class="span6 offset3">
    <div class="navbar">
    <div class="navbar-inner">
    <div class="brand">Your Parking History</div></div></div>

    {% if parking_history %}
    {% for i in parking_history %}<p>{{i.rate}} - {{i.loc}} - {{i.start}} - {{i.end}}</p>{% endfor %}
    {% else %}
    <p>You don't have any parking history.</p>
    {% endif %}
    
    </div>
    </div>

<script>
function premCheckin(){
  var temp=$('#timepicker2').val().split(" ");
  var h=parseInt(temp[0].split(":")[0],10);
  var m=parseInt(temp[0].split(":")[1],10);
  if (temp[1]=="PM"){
	if (h!=12) h=h+12;}
  else{
 	if (h==12) h=0;}
  var start=$('#dp1 input').val()+'-'+h+'-'+m;
  var garage=$('#premium').val();
  var hour=$('#timepicker3').val().split(":")[0]; 
  var checkin="../ucheckin/?user="+"{{parker.user.username}}"+"&g="+garage+"&s=1"+"&h="+hour+"&start="+start+"&r=PREMIUM";
  
  $.get(checkin,function(data){
    alert(data);
    location.reload();
  });

};
function premCheckout(){
  var checkout="../ucheckout/?r=PREMIUM&user="+"{{parker.user.username}}";
  $.get(checkout,function(data){
    alert(data);
    window.location="../profile/";
  });
  
};
function checkout(){
  var checkout="../ucheckout/?user="+"{{parker.user.username}}";
  $.get(checkout,function(data){
    alert(data);
    window.location="../profile/";
  });
  
};
function checkin(){
  var garage= $("#garage").val();
  var space= $("#space").val();
  var hour=$("#timepicker1").val().split(":")[0]; 
  var checkin="../ucheckin/?user="+"{{parker.user.username}}"+"&g="+garage+"&s="+space+"&h="+hour;
  
  $.get(checkin,function(data){
    alert(data);
    location.reload();
  });
}; 
</script>
<script type="text/javascript">
$('#timepicker2').timepicker({
showSeconds: false,
});

$('#timepicker3').timepicker({
showSeconds: false,
defaultTime: '1:00',
minuteStep: 15,
showMeridian: false,
template:'modal',
modalBackdrop:true,
});
$('#timepicker1').timepicker({
showSeconds: false,
defaultTime: '1:00',
minuteStep: 15,
showMeridian: false,
template:'modal',
modalBackdrop:true,
});
$('#timepicker1').timepicker().on('changeTime.timepicker', function(e) {
    //console.log('The time is ' + e.time.value);
    //console.log('The hour is ' + e.time.hour);
    //console.log('The minute is ' + e.time.minute);
    //console.log('The meridian is ' + e.time.meridian);
    var hour=e.time.value.split(":")[0];
    $('#cost').html("Total Cost: $"+parseInt(hour,10)*3);
});
window.onload=function() {
$('#timepicker1').val("01:00");
};
var nowTemp = new Date();
var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
 
$('#dp1').datepicker({
onRender: function(date) {
return date.valueOf() < now.valueOf() ? 'disabled' : '';
}
})
$('#dp1').datepicker('setValue',now)
</script>
{% endblock %}

